<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Avengers Global Sales</title>

  <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


  <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Leaflet CSS & JS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

  <!-- D3 -->
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>

  <!-- Our CSS -->
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Home</a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/market_share">Market Share</a></li>
                            <li><a href="/lindsay">Studio Analysis</a></li>
                            <li><a href="/map">Avengers</a></li>
                            <li><a href="/sonia">Oscar Counts</a></li>
                        </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
            </nav>

</nav>
  </nav>

<div class='container'>
        <div class='jumbotron' style='margin-top:25px'>
            <h1><center>Avengers Global Sales</center></h1>
            <dl>
                    <strong> Data Sources:</strong>
                    <dt><a href="http://www.boxofficemojo.com/">Box Office Mojo</a></dt>
                    <dd>Founded in 1999, Box Office Mojo tracks box office revenue in a systematic, algorithmic way, and publishes the data on its website. In 2008 IMDb, owned by Amazon, purchased Box Office Mojo. The website is widely used within the film industry as a source of data. From 2002–11, Box Office Mojo maintained popular forums on its website.</dd>
                    <br>
                    <dt>The Avengers film series</dt>
                    <dd>The Marvel Cinematic Universe (MCU) films are an American series of superhero films, based on characters that appear in publications by Marvel Comics. The films have been in production since 2007, and in that time Marvel Studios has produced 19 films, with 13 more in various stages of production. The series collectively has grossed over $16.8 billion at the global box office, making it the highest-grossing film franchise of all time.
                    </dd>
                    <br>
                    <dt></dt>
                    <dd>
                      With partners such as Coca-Cola, Quicken Loans, and Infiniti, Marvel's "Avengers: Infinity War, set a record at the box office and makes it the highest domestic opening of all time (not adjusted for inflation) — above the $247.9-million debut of 2015's "Star Wars: The Force Awakens" — as well as the highest global opening of all time
                    </dd>
                </dl>


        </div>
</div>

  <!-- The div where we will inject our map -->
  <div id="map"></div>

  <!-- Our JS -->
    <script src="{{url_for('static', filename='js/app.js')}}"></script>

  <!-- Scroll To Top Button -->
  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

</body>

  <!-- <script type="text/javascript" src="template/logic.js"></script>-->
</html>